.ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.contact {
  padding: 0.5rem;
  background-color: rgb(42, 42, 39);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  font-weight: 700;
}
.name,
.email,
.phone {
  margin: 0;
  background-color: #e6adad;
  padding: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 1.1rem;
}
.but {
  width: 100%;
  background-color: #e6adad;
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 34rem) {
  .name,
  .email,
  .phone,
  .but {
    font-size: 2rem;
  }
}
