.edit {
  padding: 0.5rem;
  background-color: rgb(42, 42, 39);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.editBut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.inputDiv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  background-color: #e6adad;
  padding: 0.25rem;
  overflow-wrap: break-word;
  word-break: break-word;
}
.label {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 1rem;
  justify-self: center;
}
.input {
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
}
.link,
.but {
  text-decoration: none;
  color: black;
  background-color: #e6adad;
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media only screen and (min-width: 34rem) {
  .label,
  .input,
  .but,
  .link {
    font-size: 2rem;
  }
}
